/* general */
body {
    background-color: #FEF9EF !important;
    font-family: 'Rubik', sans-serif !important;
}

.center {
    display: flex;
    justify-content: center;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}


.bg-success, .bg-danger {
    color: white !important;
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.progress-bar {
    background-color: #26345B !important;
}
/* content */


.wholecard {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
}

.content {
    width: 85%;
    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    margin-bottom: 16px;
}

.landing_page {
    display: flex;
    height: 75vh;
    align-items: center;
}

.container {
    min-height: 100vh;
    background-color: #FEF9EF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* navbar */
.navBar {
    display: none;
}


/* sidebar */
.sidebar {
    background-color: #26345B;
    color: white;
    width: 25%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    gap: 56px;
    height: 100%;
    
}

.sidebar_text {
    margin-top: 50px !important;
    font-size: 20px;
}


.nav-link:hover {
    border-left: 5px solid white;
    cursor: pointer;
    transition: 125ms border-left ease-in-out;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


/* 1st page */
.welcomeSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/brainbg.jpg);
    background-position: center;
    background-size: 414px;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    border-radius: 16px;

}

.content_question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

/* 2nd page */

[id="questionBody"] {
    margin-left: 24px;
    margin-right: 24px;
}

.card-title {
    text-align: center;
}

.quiz-card {
   width: 30rem; 
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.answer_right {
    background-color: rgba(0, 0.5, 0, 0) !important;
}

.answer_false {
    background-color: rgba(0.5, 0, 0, 0) !important;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}


.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}


/* responisve classes */

@media (max-width: 840px) {
    .sidebar {
        display: none;
    }

    .navBar {
        display: flex;
        justify-content: center;
        padding: 12px 50px 12px 50px;
        background-color: #26345B;
        border-radius: 10px;
    }
    
    .navBar a{
        color: white;
        text-decoration: none;
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .navBar a:hover {
        text-decoration: underline;
    }
}



